extends layout

block vars
  - var title='CSNYC Events'

block styles
  link(rel='stylesheet', href='/static/assets/styles/events.css')

block content
  div
    include ./includes/header.jade
    main
      .events
        ul
          each event in events
            li
              a(data-event_id='#{event.id}', data-event_name='#{event.name}', data-event_date='#{event.time}') 
                h1 #{event.name}
              ul.stats
                li Waitlist: #{event.waitlist_count}
                li Maybe: #{event.maybe_rsvp_count}
                li Coming: #{event.yes_rsvp_count}

block scripts
  script(type='text/javascript', src='//cdn.socket.io/socket.io-1.4.5.js')
  script(type='text/javascript', src='//cdn.rawgit.com/feathersjs/feathers-client/v1.1.0/dist/feathers.js')
  script(type='text/javascript', src='/static/js/events.js')
